@import '../../../../assets/styles/colors.css';


.container-navbar{
    padding: 3vh 0;
    
}

.text-nav{
    font-weight: bold;
    text-align: center;
}

.container-input{
    margin-bottom: 20px;
    
}

@media(min-width:576px ) and (max-width:767px){
    .text-nav{
        padding-top: 0.6vh;
        font-size: 22px;
    }
}

